In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[[ 'charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={"criterion":['mse','mae'],'max_features':['auto','log2','sqrt'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
#fitting the model for grid search
grid.fit(independent,dependent)

C:\Users\spavi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   31.8s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   40.7s finished
C:\Users\spavi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'log2', 'sqrt'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
#print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print (re)
#print classification report
from sklearn.metrics import r2_score
#r_score=r2_score(Y_test,grid_predictions)
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}:

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.323599,0.048404,0.018282,0.009681,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.827822,0.819947,0.811149,0.819639,0.006810,7
1,0.899994,0.129756,0.046867,0.022092,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.839305,0.826736,0.820956,0.828999,0.007660,5
2,0.104675,0.013271,0.005208,0.007365,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.830082,0.819303,0.801420,0.816935,0.011820,9
3,0.586394,0.103420,0.035343,0.008259,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841851,0.833716,0.815551,0.830373,0.010994,3
4,0.101012,0.018657,0.023629,0.017291,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.822071,0.815543,0.793707,0.810440,0.012128,11
5,0.555413,0.018014,0.057632,0.011362,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.846093,0.832380,0.813655,0.830710,0.013295,2
6,0.513878,0.019704,0.020829,0.019484,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.819685,0.823592,0.810155,0.817810,0.005644,8
7,5.404735,0.082029,0.051186,0.015247,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.826220,0.828201,0.814972,0.823131,0.005826,6
8,0.392100,0.010036,0.005208,0.007365,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.805343,0.814182,0.801225,0.806916,0.005405,12
9,3.150294,0.036350,0.041657,0.026551,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840906,0.833798,0.815516,0.830073,0.010695,4
10,0.371370,0.021046,0.026037,0.026552,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.818744,0.820146,0.809596,0.816162,0.004678,10
11,2.814713,0.342740,0.036450,0.019483,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.840876,0.836340,0.818867,0.832028,0.009488,1

In [12]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:67
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [13]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,
smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[45327.72890605]